.DS_Store
*.db
yarn
coc
.mono

fish/unison.fish
fish/completions
fish/fishd*
fish/functions/*
fish/fish_variables

raycast/

Autodesk

iterm2

nvim/spell

configstore
direnv
karabiner/automatic_backups
gh
nvim/.netrwhist
